<div class="row">
  <div class="col-lg-12">
	<h2>Versions</h2>
	<% if @context.has_chunks? %>
		<div class="table-responsive">
		  <table class="table table-bordered table-hover table-striped tablesorter">
			<thead>
			<tr>
			  <th> id</th>
			  <th> user</th>
			  <th> create at</th>
			  <th> item_type</th>
			  <th> item_id</th>
			  <th> event</th>
			  <th> resource</th>
			  <th> change</th>
			  <th> restore</th>
			</tr>
			</thead>
			<tbody>

			<% if !@chunk.versions.nil? %>
				<% @chunk.versions.scoped.each do |version| %>
					<tr>
					  <td><%= version.id %></td>
					  <td><%= User.find(version.whodunnit).email %></td>
					  <td><%= version.created_at %></td>
					  <td><%= version.item_type %></td>
					  <td><%= version.item_id %></td>
					  <td><%= version.event %></td>
					  <td><%= version.object %></td>
					  <td><%= version.object_changes %></td>
					  <td><%= link_to "restore", restore_version_path(version), :method => :post %></td>
					</tr>
					</tr>

				<% end %>
			<% end %>
			</tbody>
		  </table>
		</div>
	<% else %>
		<div class="col-lg-4">
		  <div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong><p><%= 'no chunks' %></p></strong>
		  </div>
		</div>
	<% end %>
  </div>
  <!-- /.col-lg-12 -->
</div> <!-- /.row -->
