<!DOCTYPE html>
<html>
<head>
  <title>BookPlus</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="bp_nav_top" style="margin-bottom: 30px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" <%= link_to "BookPlus", root_path %></a>
    </div>
    <div class="navbar-collapse collapse">
      <% if user_signed_in? %>
          <div><%= button_to "Profile", edit_user_registration_path, :method => "get", :class => "nav navbar-nav navbar-right form-group btn btn-default navbar-btn" %></div>
          <div><%= button_to "Sign Out", destroy_user_session_path, method: "delete", :class => "nav navbar-nav navbar-right form-group btn btn-default navbar-btn" %></div>
          <div class="nav navbar-nav navbar-right navbar-text">You are logged in
            as <%= current_user.full_name %>&nbsp;&nbsp;</div>
      <% else %>
          <%= form_for(resource, as: resource_name, :html => {:class => "navbar-form navbar-right", :role => "form"}, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %>
              </div>
              <%= button_tag "login", :class => "btn btn-success", :type => "submit" %>
          <% end %>
      <% end %>
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>
</br>
</br>
</br>
<div class="notice container"><%= notice %></div>
<div class="container">
  <%= yield %>
</div>
<!-- .container-->

<aside class="left-sidebar">

<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <ul id="sidebar" class="nav nav-stacked affix">
        <%= render "home/navigation" %>

      </ul>
    </div>

  </div><!-- .middle-->

<footer class="footer">
  <p class="alert"><%= alert %></p>
    <div class="col-sm-9">

  <p class="debug container"><%= params %></p>
</footer>
<!-- .footer -->

<!-- .wrapper -->
      <%= yield %>


    </div>
  </div>
</div>


</body>
</html>


