<div class="row">
  <div class="col-lg-12">
    <h2>Chunks</h2>
    <%= render 'chunks/filterbar' %>
    <% if @book.has_chunks? %>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
            <thead>
            <tr>
              <th><%= Chunk.human_attribute_name(:title) %></th>
              <th><%= Chunk.human_attribute_name(:section) %></th>
              <th><%= Chunk.human_attribute_name(:user) %></th>
              <th><%= Chunk.human_attribute_name(:version) %>
                <i class="fa fa-sort"></i></th>
              <th>created_at <i class="fa fa-sort"></i></th>
              <th> edit</th>
            </tr>
            </thead>
            <tbody>

            <% @book.chunks.each do |chunk| %>
                <tr>
                  <td><%= link_to chunk.title, @book.closed? ? book_chunk_path(@book, chunk) : book_chunk_path(@book, chunk) %></td>
                  <td><%= chunk.section %></td>
                  <td><%= chunk.username %></td>
                  <td><%= chunk.versions.last.id unless chunk.versions == nil %></td>
                  <td><%= chunk.created_at %></td>
                  <td><%= link_to "edit", @book.closed? ? book_chunk_path(@book, chunk) : edit_book_chunk_path(@book, chunk), method: :get %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

    <% else %>
        <div class="col-lg-4">
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><p><%= I18n.t('views.chunk.index.empty') %></p></strong>
            <a href="#" class="alert-link">Change a few things up</a>.
          </div>
        </div>
    <% end %>

  </div>
  <!-- /.container-fluid -->
</div> <!-- /.row -->