<!-- Modal  Wird von mir nicht benutzen, man kann nicht mit der Implementierung gleichzeitig an mehrere Bücher arbeiten. -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Information</h4>
	  </div>
	  <div class="modal-body">
		<dl class="dl-horizontal">
		  <dt>Edition:</dt>
		  <dd class="book-edition"><%= @book.edition %></dd>
		  <dt>Published:</dt>
		  <dd class="book-published"><%= @book.published %></dd>
		  <dt>Genre:</dt>
		  <dd class="book-genre"><%= @book.genre %></dd>
		  <dt>Tags:</dt>
		  <dd class="book-tags"><%= @book.tags %></dd>
		  <dt>Abstract:</dt>
		  <dd>
			<div class="jumbotron">
			  <div class="container book-abstract">
				<%= raw @book.abstract %>
			  </div>
			</div>
		  </dd>
		</dl>
	  </div>

	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default book-edit">Edit</button>
	  </div>
	</div>
  </div>
</div>

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Information</h4>
	  </div>
	  <div class="modal-body">
		<%= render "books/form_edit" %>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary book-save">Save</button>
	  </div>
	</div>
  </div>
</div>