<div id="partial-page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="Books">Books</h1>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="col-lg-12 col-sm-11 responsive">

    <%= render 'books/filterbar' %>

    <hr class="featurette-divider">
    <%= params %> <br>
    ola
    <%= @i %> <br>
    users:<%= @users %>
    <br>
    <table class="table table-striped books-content">
      <thead>
      <tr>
        <th><%= Book.human_attribute_name(:title) %></th>
        <th><%= Book.human_attribute_name(:edition) %></th>
        <th><%= Book.human_attribute_name(:published) %></th>
        <th><%= Book.human_attribute_name(:genre) %></th>
        <th><%= Book.human_attribute_name(:tags) %></th>
        <th><%= Book.human_attribute_name(:users) %></th>
      </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
          <tr>

            <td><%= link_to book.title, book %></td>
            <td><%= book.edition %></td>
            <td><%= book.published %></td>
            <td><%= book.genre %></td>
            <td><%= book.tags %></td>
            <td><%= book.users_list_real_names %></td>
          </tr>

      <% end %>
      </tbody>
    </table>


    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="Books">Books tree</h1>
        </div>

        <%= render partial: 'shared/books_tree', :locals => {:books => user_books} %>
      </div>
    </div>
    <!-- /.row -->

  </div>
</div>
</div>
