<div id="partial-page-wrapper">


  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="Book">Book: <%= @book.title %></h1>
        <%= params %> <br>
      </div>
    </div>
  </div>
  <!-- /.row -->


  <div class="col-lg-12 text-left">
    <%= render partial: 'shared/chunks_tree', :locals => {:books => user_books} %>
  </div>


  <div class="col-lg-12 text-left">
      <h1>Details</h1>

      <div class="row">
        <div class="col-lg-12">
          <%= render 'books/bookbar' %>
        </div>
      </div>
    <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <div class="container-fluid">
          <p>
            <b><%= Book.human_attribute_name(:edition) %>:</b>
            <%= @book.edition %>
          </p>

          <% if @book.published? %>
              <p>
                <b><%= Book.human_attribute_name(:published) %>:</b>
                <%= @book.published %>
              </p>
          <% end %>

          <p>
            <b><%= Book.human_attribute_name(:genre) %>:</b>
            <%= @book.genre %>
          </p>

          <p>
            <b><%= Book.human_attribute_name(:tags) %>:</b>
            <%= @book.tags %>
          </p>

          <p>
            <b><%= Book.human_attribute_name(:users) %>:</b>
            <%= @book.users_list_real_names %>
          </p>

            <%= render partial: 'shared/chunks_versions', :locals => {:book => @book} %>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.row -->


        <ul class="pager">
          <%= link_to 'Back', books_path, :class => "btn btn-primary" %>
        </ul>
      </div>
  </div>


</div>






