<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @book.user %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Chunk:</b>
  <%= @book.chunk %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
