<div class="row">

  <div class="col-lg-2 col-sm-2">
    <div class="well">
      <div style="float: left">
        <span class="glyphicon glyphicon-book"></span>&nbsp;<span class="book-title"><%= @book.title %></span></div>
      <div class="text-right book-info">
        <abbr title="click to show main information"><span class="glyphicon glyphicon-info-sign"></span></abbr></div>
    </div>
    <hr class="featurette-divider">

    <h2>Textabschnitte</h2>

    <% if @book.has_chunks? %>
        <div id="books_tree">
          <li id="book<%= @book.id %>" class="book" data-edit_path="<%= edit_book_path(@book) %>" data-new_chunk_path="<%= new_book_chunk_path(@book) %>"><%= link_to "#{@book.title} (#{@book.edition})", @book %>
            <ul>
              <% @book.chunks.each do |chunk| %>
                  <li id="chunk<%= chunk.id %>" class="chunk"><%= link_to chunk.title, edit_book_chunk_path(@book, chunk) %></li>
              <% end %>
            </ul>
          </li>
        </div>
    <% else %>
        <p>Keine Texxtabschnitte vorhanden</p>
    <% end %>

    <hr class="featurette-divider">

    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to(raw('<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to books'), books_path) %></li>
    </ul>

  </div>

  <div class="col-lg-10 col-sm-2">
    Test 2
  </div>

</div>

<%= render "books/modal_show" %>




